.App {
  text-align: center;
  padding-top: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.modal{
  background-color: none;
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;}
  
  .vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;}
  


div.modal-content{

  
  width:inherit;
  max-width:inherit; 
  
  height:inherit;
  
  margin: 0 auto;
  pointer-events:all;

  /* height: 30em;
  width: 30em; */
  padding: 7em;
  border: none;
  background-color: #ffffff00;
  background-image: url(./icecream.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
}

.modal-backdrop {
    width: auto;
    opacity:0.5 !important;
}

div.modal-body {
  margin-top: 230px;
  margin-left: 25px;
  margin-right: 12px;
  font-family: Raleway;
  font-weight: 500;
  text-align: center;
}

div.fade.in.modal {
  display:flex !important;
}

.modal-dialog {
  margin: auto;
}

.ice-cream-close{
  background-color: #b0cea5;
  border-color: #c3e0ad;
  color: #325027;
  border-radius: 40%;
}

.ice-cream-close:hover{
  background-color: #8dac82;
  border-color: #c3e0ad;
  color: #203617;
  border-width: 2px;
}

.ice-cream-close:clicked{
  background-color: #8dac82;
  border-color: #c3e0ad;
  border-width: 2px;
}

.bi-envelope{
  color: black;
}

.bi-envelope:hover{
  color: #d1e6c9;
}

.typing{ 
  /* margin-top: 3.75em;  */
  font-family: Raleway;
  font-size: 10vw;
  border-right: solid 3px rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;  
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 71%;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.chaya-greisman-pic{
  width: 20em;
}
